<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>TANOMONO</title>
  <meta name="description" content="template">
  <meta name="author" content="Gen">

  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src="js/jquery-1.11.1.min.js" ></script>
  <script src="js/bootstrap/js/bootstrap.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header id="navbar" class="banner  navbar navbar-default" role="banner">
    <div class="container">
      <div class="navbar-header">
	<a class="navbar-brand" href="#">タノモノ</a>	
      </div>
      <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
	  <li >
	    <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Rakuten Taro&nbsp;<span class="badge">7</span><span class="caret"></span></a>
	  </li>
	  <li>
	    <a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a>
	  </li>
	</ul>
      </div>
    </div>
    
  </header>
  <div class="container" style="background:FloralWhite;">
    <div class="navbar-header navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="#">Index</a></li>
	<li><a href="#">List</a></li>
	<li><a href="#">Find</a></li>
	<li><a href="#">Super Star</a></li>
	<li><a href="#">App</a></li>
      </ul>
    </div>
    
    <div class="navbar-collapse collapse search-box">
      <form class="navbar-form " role="form">
	<div class="form-group">
	  <input type="text" placeholder="find what you want!" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Search!</button>
      </form>
    </div>
  </div>
  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-sm-3">
	<ul class="list-group">
	  <li class="list-group-item"><a href="#">Woman's dress</a></li>
	  <li class="list-group-item"><a href="#">Woman's shoes</a></li>
	  <li class="list-group-item"><a href="#">Man's dress</a></li>
	  <li class="list-group-item"><a href="#">Man's shoes</a></li>
	  <li class="list-group-item"><a href="#">Bag</a></li>
	  <li class="list-group-item"><a href="#">Food</a></li>
	  <li class="list-group-item"><a href="#">Laptop</a></li>
	  <li class="list-group-item"><a href="#">Outdoor</a></li>
	  <li class="list-group-item"><a href="#">Gift</a></li>
	</ul>
      </div>
      <div class="col-sm-9 ">
	<div class="jumbotron top-star row " >
	  <h4>Who is the star:</h4>
	  <div class="col-sm-4 star-box">
	    <a href="#">
	      <img src="img/okida.jpeg" width="100px" height="150px" alt="okida" class="img-circle" >
	      <div class="star-nick">Okida Sogou</div>
	    </a>
	    <div class="star-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Follow</a>&nbsp;|&nbsp;<a href="#">777 Followers</a></div>
	  </div>
	  <div class="col-sm-4 star-box">
	    <a href="#">
	      <img src="img/keroro.jpg" width="100px" height="150px" alt="keroro" class="img-circle">
	      <div class="star-nick">Keroro Gunso</div>
	    </a>
	    <div class="star-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Follow</a>&nbsp;|&nbsp;<a href="#">1231 Followers</a></div>
	  </div>
	  <div class="col-sm-4 star-box">
	    <a href="#">
	      <img src="img/erizabesu.jpeg" width="100px" height="150px" alt="erizabesu" class="img-circle">
	      <div class="star-nick">Erizabesu</div>
	    </a>
	    <div class="star-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Follow</a>&nbsp;|&nbsp;<a href="#">578 Followers</a></div>
	  </div>
	  <div class="clear"></div>
	</div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="cardlist row">
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="img/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="img/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="img/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="img/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="img/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="img/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="img/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="img/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="img/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="img/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="img/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="img/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>

    </ul>
  </div>
  <hr>
  <footer>
    <div class="container"
	 <p>&copy; Rakuten 2014</p>
    </div>
  </footer>
  
  <script src="js/scripts.js"></script>
</body>
</html>
