<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>TANOMONO</title>
  <meta name="description" content="template">
  <meta name="author" content="Gen">

  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src="js/jquery-1.11.1.min.js" ></script>
  <script src="js/bootstrap/js/bootstrap.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header id="navbar" class="banner  navbar navbar-default" role="banner">
    <div class="container">
      <div class="navbar-header">
	<a class="navbar-brand" href="#">タノモノ</a>	
      </div>
      <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
	  <li >
	    <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Rakuten Taro<span class="caret"></span></a>
	  </li>
	  <li>
	    <a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a>
	  </li>
	</ul>
      </div>
    </div>
    
  </header>
  <div class="container" style="background:FloralWhite;">
    <div class="navbar-header navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="#">Index</a></li>
	<li><a href="#">List</a></li>
	<li><a href="#">Find</a></li>
	<li><a href="#">Super Star</a></li>
      </ul>
    </div>
    
    <div class="navbar-collapse collapse search-box">
      <form class="navbar-form " role="form">
	<div class="form-group">
	  <input type="text" placeholder="find what you want!" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Search!</button>
      </form>
    </div>
  </div>
  <div class="container list-category" style="margin-top:20px;">
    <div class="list-header list-life ">
      <div class="list-header-title"><a href="#">Life</a></div>
      <div class="list-header-right"><a href="#">more</a></div>
      
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-sm-4">
	<div class="list-group pick-list">
	  <a class="list-group-item row" href="#">
	    <div class="col-sm-8">
	      <h5>osara</h5>
	      <div>73 things, 106 followers</div>
	    </div>
	    <div class="col-sm-4">
	      <img src="img/life1.jpg" height="100px" width="100px" >
	    </div>
	  </a>
	  <a class="list-group-item row" href="#">
	    <div class="col-sm-8">
	      <h5>mouse</h5>
	      <div>39 things, 123 followers</div>
	    </div>
	    <div class="col-sm-4">
	      <img src="img/life2.jpg" height="100px" width="100px">
	    </div>
	  </a>
	  <a class="list-group-item row" href="#">
	    <div class="col-sm-8">
	      <h5>ocha</h5>
	      <div>45 things, 53 followers</div>
	    </div>
	    <div class="col-sm-4">
	      <img src="img/life3.jpg" height="100px" width="100px">
	    </div>
	  </a>
	</div>
      </div>
      <div class="col-sm-4">
	
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <hr>
  <footer>
    <div class="container"
	 <p>&copy; Rakuten 2014</p>
    </div>
  </footer>
  
  <script src="js/scripts.js"></script>
</body>
</html>
