<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>Search</title>
  <meta name="description" content="template">
  <meta name="author" content="Gen">

  <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src="js/jquery-1.11.1.min.js" ></script>
  <script src="js/bootstrap/js/bootstrap.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header id="navbar" class="banner  navbar navbar-default" role="banner">
    <div class="container">
      <div class="navbar-header">
	<a class="navbar-brand" href="#">タノモノ</a>	
      </div>
      <div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
	  <li >
	    <a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;Rakuten Taro&nbsp;<span class="badge">7</span><span class="caret"></span></a>
	  </li>
	  <li>
	    <a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a>
	  </li>
	</ul>
      </div>
    </div>
    
  </header>

  <div class="container" style="background:FloralWhite;">
    <div class="navbar-header navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="#">Index</a></li>
	<li><a href="#">List</a></li>
	<li><a href="#">Find</a></li>
	<li><a href="#">Super Star</a></li>
	<li><a href="#">App</a></li>
      </ul>
    </div>
    
    <div class="navbar-collapse collapse search-box">
      <form class="navbar-form " role="form">
	<div class="form-group">
	  <input type="text" placeholder="find what you want!" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Search!</button>
      </form>
    </div>
  </div>
  
  <div class="container list-search-commdity" style="margin-top:20px;">
    <div class="search-info">
      <ul><li><a href="#">mono</a></li><li><a href="#">list</a></li><li><a href="#">user</a></li></ul>
      <div class="clear"></div>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-4 commodity-box">
	<div class="commodity-ud">
	  <img src="img/search-good.jpg" width="100%">
	</div>
	<div class="commodity-dd">
	  <a href="#"><h4>Teatube Test Tube Tea Infuser</h4></a>
	  <div class="commodity-user">
	    <a href="#"><img src="img/okida.jpeg" width="30px" height="30px" class="img-circle" alt="okida" >
	    Okida</a> published
	  </div>
	  <div class="commodity-comments">
	    looks good!
	  </div>
	  <div class="commodity-relation">
	    <a href="#">add to list:140</a>&nbsp;&nbsp;<a href="#">liked:213</a>&nbsp;&nbsp;<a href="#">comments:7</a>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 commodity-box">
	<div class="commodity-ud">
	  <img src="img/search-good.jpg" width="100%">
	</div>
	<div class="commodity-dd">
	  <a href="#"><h4>Teatube Test Tube Tea Infuser</h4></a>
	  <div class="commodity-user">
	    <a href="#"><img src="img/okida.jpeg" width="30px" height="30px" class="img-circle" alt="okida" >
	    Okida</a> published
	  </div>
	  <div class="commodity-comments">
	    looks good!
	  </div>
	  <div class="commodity-relation">
	    <a href="#">add to list:140</a>&nbsp;&nbsp;<a href="#">liked:213</a>&nbsp;&nbsp;<a href="#">comments:7</a>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 commodity-box">
	<div class="commodity-ud">
	  <img src="img/search-good.jpg" width="100%">
	</div>
	<div class="commodity-dd">
	  <a href="#"><h4>Teatube Test Tube Tea Infuser</h4></a>
	  <div class="commodity-user">
	    <a href="#"><img src="img/okida.jpeg" width="30px" height="30px" class="img-circle" alt="okida" >
	    Okida</a> published
	  </div>
	  <div class="commodity-comments">
	    looks good!
	  </div>
	  <div class="commodity-relation">
	    <a href="#">add to list:140</a>&nbsp;&nbsp;<a href="#">liked:213</a>&nbsp;&nbsp;<a href="#">comments:7</a>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 commodity-box">
	<div class="commodity-ud">
	  <img src="img/search-good.jpg" width="100%">
	</div>
	<div class="commodity-dd">
	  <a href="#"><h4>Teatube Test Tube Tea Infuser</h4></a>
	  <div class="commodity-user">
	    <a href="#"><img src="img/okida.jpeg" width="30px" height="30px" class="img-circle" alt="okida" >
	    Okida</a> published
	  </div>
	  <div class="commodity-comments">
	    looks good!
	  </div>
	  <div class="commodity-relation">
	    <a href="#">add to list:140</a>&nbsp;&nbsp;<a href="#">liked:213</a>&nbsp;&nbsp;<a href="#">comments:7</a>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 commodity-box">
	<div class="commodity-ud">
	  <img src="img/search-good.jpg" width="100%">
	</div>
	<div class="commodity-dd">
	  <a href="#"><h4>Teatube Test Tube Tea Infuser</h4></a>
	  <div class="commodity-user">
	    <a href="#"><img src="img/okida.jpeg" width="30px" height="30px" class="img-circle" alt="okida" >
	    Okida</a> published
	  </div>
	  <div class="commodity-comments">
	    looks good!
	  </div>
	  <div class="commodity-relation">
	    <a href="#">add to list:140</a>&nbsp;&nbsp;<a href="#">liked:213</a>&nbsp;&nbsp;<a href="#">comments:7</a>
	  </div>
	</div>
      </div>
      <div class="col-sm-4 commodity-box">
	<div class="commodity-ud">
	  <img src="img/search-good.jpg" width="100%">
	</div>
	<div class="commodity-dd">
	  <a href="#"><h4>Teatube Test Tube Tea Infuser</h4></a>
	  <div class="commodity-user">
	    <a href="#"><img src="img/okida.jpeg" width="30px" height="30px" class="img-circle" alt="okida" >
	    Okida</a> published
	  </div>
	  <div class="commodity-comments">
	    looks good!
	  </div>
	  <div class="commodity-relation">
	    <a href="#">add to list:140</a>&nbsp;&nbsp;<a href="#">liked:213</a>&nbsp;&nbsp;<a href="#">comments:7</a>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <hr>
  <footer>
    <div class="container"
	 <p>&copy; Rakuten 2014</p>
    </div>
  </footer>
  
  <script src="js/scripts.js"></script>
</body>
</html>
