
// global variables
$background-color: whitex;

//
$header-color-base: rgba(200, 120, 120, 0.7);
$header-fore-color: rgb(255,255, 255);
$header-hover-color: rgba(230, 110, 110, 0.7);
$header-nav-height: 50px;

//
$navigation-title-height: 50px;
$navigation-title-padding-left: 30px;
$navigation-box-height: 50px;


$navigation-overlay-background-color: rgba(200, 200, 200, 0.8);



$grid-background-color: #AAAAAA;
$grid-avater-h:200px;
$grid-avater-w:200px;


$mono-sm-h: 150px;
$mono-sm-w: 150px;

$mono-lg-h: 300px;
$mono-lg-w: 300px;

$mono-price-color: red;

ul {
  list-style-type: none;
}

.header {
  color: $header-fore-color;
  nav {
    height: $header-nav-height;
    background: $header-color-base; 
  }
  a {
    color: $header-fore-color;
  }
  :hover {
    backround: $header-hover-color;
  }
}

#page {background: $background-color;}

#page>section {
  padding-top:$header-nav-height;	      
}

#navigation-container{
  .navigation-title {
    height: $navigation-title-height;
    line-height: $navigation-title-height;
    vertical-align: middle;
    padding-left: $navigation-title-padding-left;
  //  background: white;
    
  }
  .clothes-title {
    
  }

  .navigation-box {
    height: $navigation-box-height;
    display:block;
    
  }
  .soccer {
    background: green;
  }
}


.overlay-effects {
  width:360px;
  height:270px;
  .img {
    position:relative;
    
    width:100%;
    img {
      border: 0;
    }
  }
  .img:hover{
    .overlay {
      opacity: 1;
    }
  }
  .overlay {
    display: block;
    position:absolute;
    height:100%;
    width:100%;
    z-index:20;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    opacity: 0;
    background:$navigation-overlay-background-color;
    a {
      position: absolute;
      display:block;
      color: white;
    //  background:black;
      text-align:center;
      line-height:270px;
      vertical-align:middle;
      bottom: 0px;
      left:0px;
      right:0px;
      top:0px;
      font-size:14px;
      margin: 0 auto;
    }
  }
    

}

.navbox {
  background:black;
}



.gridster{
  li {
    background: $grid-background-color;
  }
  
  .grid-sm{
    display:block;
  }
  .grid-lg{
    display:none;
    
  }
}
.subject-gridster {
  .grid-avater {
    width:$grid-avater-w;
    height:$grid-avater-h;
  }
}

.index-gridster {
}


.mono-box {
  width:150px;
  overflow:hidden;
  .mono-inner-box {
    width: 300px;
    overflow:hidden;
    display:block;
  }
    
  .mono-inner-small {
    width: $mono-sm-w;
    height: $mono-sm-h;
    float:left;
    img {
      width: $mono-sm-w;
      height: $mono-sm-h;
    }
  }
  
  .mono-inner-right {
    width: $mono-lg-w - $mono-sm-w;
    height: $mono-lg-h;
    float:right;
 //   background:#EEEEEE;
  }
  .mono-price {
    color: $mono-price-color;
  }
}

