<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Hiro Gen" >
    <link href="assets/styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="assets/styles/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="assets/styles/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <link href="assets/vendors/bootstrap/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
    <link href="assets/vendors/bootstrap/css/bootstrap-theme.min.css"  rel="stylesheet" type="text/css" />
    
    <link href="assets/styles/styles.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="assets/vendors/bootstrap/js/bootstrap.min.js" ></script>
  </head>
  <body>

    <div id="page">
      <header class="header">
	<nav class="nav navbar-fixed-top">
	  <div class="container">
	    <a class="navbar-brand" href="#">楽&nbsp;モ&nbsp;ノ&nbsp;</a>
	    <div class="navbar navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
		<li><a href="#search-container">Search</a></li>
		<li><a href="#navigation-container">Navigation</a></li>
<!-- 
		<li><a href="#trend-container">Trend</a></li>
		<li><a href="#app-container">App</a></li>
-->
	      </ul>
	    </div>
	  </div>
	</nav>
      </header>

      <section id="search-container">
	<div class="container">
	  <br />
	  <h1>Rakumono</h1>
	  <h2>More Shopping, More Happy</h2>
	  <br />
	  <div class="search-wrapper">
	    <form class="form-group">
	      <input type="text" placeholder="Input want you want" class="form-controller input-lg" />
	      <button class="btn-lg btn-primary">Search</button>
	    </form>
	  </div>
	</div>
      </section>
      <section id="navigation-container">
	<div class="container">
	  <h1>Navigation</h1>
	  <div class="navigation-wrapper">
	    <div class="navigation-box container">
	      <h2 class="navigation-title clothes-title">Sports</h2>
	      <div class="navigation-content container">
		<div class="row no-margin">
		  <div class="col-md-4 no-margin wp4 animated fadeInDown navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/soccer.jpg" width="100%" height="100%" />
			<div class="overlay">
			  <a href="#">Soccer</a>
			  <a class="close-overlay hidden">x</a>
			</div>
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown delay-05s navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/golf.jpeg" width="100%" height="100%"/>
			<div class="overlay">
			  <a href="#" class="expend">Golf</a>
			  <a class="close-overlay hidden">x</a>
			</div>
			
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown delay-05s navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/tenis.jpg" width="100%" height="100%" />
			<div class="overlay">
			  <a href="#">Tenis</a>
			  <a class="close-overlay hidden">x</a>
			</div>
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/soccer.jpg" width="100%" height="100%" />
			<div class="overlay">
			  <a href="#">Soccer</a>
			  <a class="close-overlay hidden">x</a>
			</div>
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown delay-05s navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/golf.jpeg" width="100%" height="100%"/>
			<div class="overlay">
			  <a href="#" class="expend">Golf</a>
			  <a class="close-overlay hidden">x</a>
			</div>
			
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown delay-05s navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/tenis.jpg" width="100%" height="100%" />
			<div class="overlay">
			  <a href="#">Tenis</a>
			  <a class="close-overlay hidden">x</a>
			</div>
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/soccer.jpg" width="100%" height="100%" />
			<div class="overlay">
			  <a href="#">Soccer</a>
			  <a class="close-overlay hidden">x</a>
			</div>
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown delay-05s navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/golf.jpeg" width="100%" height="100%"/>
			<div class="overlay">
			  <a href="#" class="expend">Golf</a>
			  <a class="close-overlay hidden">x</a>
			</div>
			
		      </div>
		    </div>
		  </div>
		  <div class="col-md-4 no-margin wp4 animated fadeInDown delay-05s navbox">
		    <div class="clearfix overlay-effects effects">
		      <div class="img">
			<img src="assets/images/tenis.jpg" width="100%" height="100%" />
			<div class="overlay">
			  <a href="#">Tenis</a>
			  <a class="close-overlay hidden">x</a>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </section>
<!--  
      <section id="trend-container" class="page-section">
	<div class="container">
	  <h1>Trend</h1>
	  <div class="trend-wrapper">
	    <br />
	    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	  </div>
	</div>
      </section>
      <section id="app-container" class="page-section">
	<div class="container">
	  <h1>App</h1>
	  <div class="trend-wrapper">
	    <br />
	    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	  </div>
	</div>
      </section>
-->
    </div>
  </body>
</html>
