<br />
<br />
<br />


<div class="container mono-cate-container">
  <div class="mono-cate-row">
    <div class="overlay-effects effects mono-cate-box">
      <div class="img">
	<img src="images/swimhat.jpg" />
	<div class="overlay">
	  <a href="#"><h3>swim hat</h3></a>
	  <a class="close-overlay hidden">x</a>
	</div>
      </div>	
    </div>
    <div class="overlay-effects effects mono-cate-box">
      <div class="img">
	<img src="images/hat2.jpg" />
	<div class="overlay">
	  <a href="#"><h3>Swim Hat</h3></a>
	  <a class="close-overlay hidden">x</a>
	</div>
      </div>
    </div>
    <div class="clearfix overlay-effects effects mono-cate-box">
      <div class="img">
	<img src="images/swimhat.jpg" />
	<div class="overlay">
	  <a href="#"><h3>Swim Hat</h3></a>
	  <a class="close-overlay hidden">x</a>
	</div>
      </div>
    </div>
    <div class="clearfix overlay-effects effects mono-cate-box">
      <div class="img">
	<img src="images/swimhat.jpg" />
	<div class="overlay">
	  <a href="#"><h3>Swim Hat</h3></a>
	  <a class="close-overlay hidden">x</a>
	</div>
      </div>
    </div>
    
  </div>
  <div class="mono-cate-row">
    <div class="clearfix overlay-effects effects mono-cate-box">
      <div class="img">
	<img src="images/swimhat.jpg" />
	<div class="overlay">
	  <a href="#"><h3>Swim Hat</h3></a>
	  <a class="close-overlay hidden">x</a>
	</div>
      </div>
    </div>
    <div class="clearfix overlay-effects effects mono-cate-box">
      <div class="img">
	<img src="images/swimhat.jpg" />
	<div class="overlay">
	  <a href="#"><h3>Swim Hat</h3></a>
	  <a class="close-overlay hidden">x</a>
	</div>
      </div>
    </div>
  </div>



  <div class="mono-cate-wrapper">
    <div class="mono-box">
      <div class="mono-avater">
	
	<img src="images/swimhat.jpg" />
      </div>
      <div class="mono-info">
	<ul>
	  <li class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</li>
	  <li class="mono-price">$1000</li>
	  <li class="mono-rank">
	    <span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Brought</span></li>
	  <li><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></li>
	</ul>
      </div>
    </div>
    <div class="mono-box">
      <div class="mono-avater">
	
	<img src="images/swimhat.jpg" />
      </div>
      <div class="mono-info">
	<ul>
	  <li class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</li>
	  <li><span class="mono-price">$1000</span><span class="mono-price">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="mono-point">Points:10</span></li>
	  <li class="mono-rank"><span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Comments</span></li>
	  <li><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></li>
	</ul>
      </div>
      
    </div>
    <div class="mono-box">
      <div class="mono-avater">
	
	<img src="images/swimhat.jpg" />
      </div>
      <div class="mono-info">
	<ul>
	  <li class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</li>
	  <li class="mono-price">$1000</li>
	  <li class="mono-rank">
	    <span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Brought</span></li>
	  <li><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></li>
	</ul>
      </div>
    </div>
    <div class="mono-box">
      <div class="mono-avater">
	
	<img src="images/swimhat.jpg" />
      </div>
      <div class="mono-info">
	<ul>
	  <li class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</li>
	  <li><span class="mono-price">$1000</span><span class="mono-price">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="mono-point">Points:10</span></li>
	  <li class="mono-rank"><span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Comments</span></li>
	  <li><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></li>
	</ul>
      </div>
      
    </div>
    <div class="mono-box">
      <div class="mono-avater">
	
	<img src="images/swimhat.jpg" />
      </div>
      <div class="mono-info">
	<ul>
	  <li class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</li>
	  <li class="mono-price">$1000</li>
	  <li class="mono-rank">
	    <span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Brought</span></li>
	  <li><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></li>
	</ul>
      </div>
    </div>
  
    <div class="mono-box">
      <div class="mono-avater">
	
	<img src="images/swimhat.jpg" />
      </div>
      <div class="mono-info">
	<ul>
	  <li class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</li>
	  <li><span class="mono-price">$1000</span><span class="mono-price">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="mono-point">Points:10</span></li>
	  <li class="mono-rank"><span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Comments</span></li>
	  <li><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></li>
	</ul>
      </div>
      
    </div>
    <div class="clear"></div>
  </div>

</div>


<script type="text/javascript">

var current_cate = null;
$(function(){
    $(".mono-cate-box").click(function(){
	
	if ($(this).is( current_cate)) {
	   // alert("SB");
	    $(".mono-cate-wrapper").hide();
	    current_cate.removeClass('mono-box-active');
	    current_cate = null;
	} else {
	    if (current_cate != null){
		current_cate.removeClass('mono-box-active');
	    }
	    $(".mono-cate-wrapper").hide();
	    current_cate = $(this);
	    current_cate.addClass('mono-box-active');
	    current_cate.parent().after($(".mono-cate-wrapper"));
	    $(".mono-cate-wrapper").fadeIn('slow');
	}
    });
});

</script>
