body {
  padding-top: 50px;
}



@mixin min-height($val){
  min-height:$val;
  height:auto !important;
  height:$val;
}
.bootstrap-tagsinput {
  width:100%;
  @include min-height(46px);

  text-align:left;
  .label-info {
    height:32px;
  }
  input{
    margin-top:5px;
    height: 100%;
    font-size:18px;
  }
  .label {
    font-size: 100%;
  }
}
.intro-header {
  //padding-top:50px;
  position:relative;
  padding-top:10%;
  padding-bottom: 30%;
  //padding-bottom: 50px;
  text-align: center;
  color: #F8F8F8;
  background: url(../images/intro-bg.jpg) no-repeat scroll center center / cover transparent;
  .intro-search{
    
  }
}

.storebox {
  height:260px;  
  position: relative;
  text-align: center;
  a {
    color: white;
  }
  .preview {
    position:absolute;
    left:0px;
    top: 0px;
    background: #339966;
    height:100%;
    width: 100%;
    overflow: hidden;
    .mono-img {
      padding:20px 10px 0px 45px;
      
      img {
        width: 70px;
        height:70px;
        margin-bottom: 20px;
        display:block;
        margin-right:25px;
        float:left;
      }
    }
  }
}
