//@import "compass/css3/transition";


#page-top, html,body {  
}


// navigation

.topnav {
  background:transparent;
  border: transparent;
}
.cart-title {
  text-align: center;
}
#cart {
  button {
    display:block;
    height: 100%;
  }
}
@mixin min-height($val){
  min-height:$val;
  height:auto !important;
  height:$val;
}
.bootstrap-tagsinput {
  width:100%;
  @include min-height(46px);

  text-align:left;
  .label-info {
    height:32px;
  }
  input{
    margin-top:5px;
    height: 100%;
    font-size:18px;
  }
  .label {
    font-size: 100%;
  }
}
.intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
}
.intro-heading {
  text-transform: uppercase;
  font-family: Georgia,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
}
.intro-header {
  //padding-top:50px;
  position:relative;
  padding-top:10%;
  padding-bottom: 30%;
 
  //padding-bottom: 50px;
  text-align: center;
  color: #F8F8F8;
  background: url(../images/intro-bg.jpg) no-repeat scroll center center / cover transparent;
  /*
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  */
  .intro-search{
    
  }
}

.clear {
  clear:both;
}


#monolist {
  margin-bottom:80px;
  //-webkit-filter: blur(5px);
  //-moz-filter: blur(5px);
  //-o-filter: blur(5px);
  //-ms-filter: blur(5px);
  //filter: blur(5px);
  background: url(../images/bg1.jpg) no-repeat scroll center center / cover transparent;
  z-index: 1;
  height: auto;
  .container {
    z-index:2;
    height:auto;
    //width:100%;
    background: rgba(255,255,255,0.85);
  }
  /*
  &:before {
    z-index : -1;
    position:fixed;
    left: 0;
    top:0;
    width:1000px;
    height:1000px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background: url(../images/bg1.jpg) no-repeat scroll center center / cover transparent;
  }*/
}


.shop-list {
  height: 400px;
}

.storebox {
  height:260px;  
  position: relative;
  text-align: center;
  margin:20px auto;
  .caption {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    overflow:hidden;
    background:#EEE;
  }
  a {
    color: white;
  }
  .preview {
    position:absolute;
    left:0px;
    top: 0px;
    background: #339966;
    height:100%;
    width: 100%;
    overflow: hidden;
    .mono-img {
      padding:20px 10px 0px 45px;
      
      img {
        padding:2px;
        border:1px solid #ddd;
        width: 70px;
        height:70px;
        margin-bottom: 20px;
        display:block;
        margin-right:25px;
        float:left;
        &:hover {
          width:90px;
          height:90px;
          margin-right:5px;
          margin-bottom:0px;
        }
      }
    }
  }
}


$mono-box-avater-w:300px;
$mono-box-avater-h:300px;
$mono-box-w: 300px;
$mono-box-h: 460px;
$mono-box-bg: white;
$mono-price-color: white;
$mono-sm-w: 200px;
$mono-sm-h:200px;
$mono-lg-w:200px;
$mono-lg-h:200px;


.mono-container {
  padding-left: 50px;
  padding-bottom: 100px;

  .mono-list {
    margin-bottom: 30px;
  }
}
.mono-box {
  float:left;
  position: relative;
  text-align: center;
  display: block;
  font-size:14px;
  margin:0px 30px 30px 0px;
  height:$mono-box-h;
  width:$mono-box-w;
  overflow:hidden;
  box-shadow: 0 0 2px 2px #CCC;
  background:$mono-box-bg;
  border:1px solid #DDD;
  padding: 2px;
  $mono-operation-icon-size:32px;
  $mono-operation-left:20px;
  $mono-operation-top:20px;
  //$mono-add-to-list-bg:url(../images/plus_gray.png);
  $mono-add-to-list-bg-hover:url(../images/plus.png);
  
  .category-title {
    font-size:24px;
    
  }
  a {
    display:block;
    text-decoration: none; 
  }
  a:hover {
  cursor:pointer;
  }
  .cart-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 200;
    background: rgba(255,255,255,0);
    border: 0px transparent solid;
    font-size: 30px;
    display:block;
    width:50px;
    height:50px;
    color: #777;
  }
  .cart-selected {
    color: red;
  }
  .mono-checked {
    color: red;
  }
  .mono-avater {
    
    width: $mono-box-avater-w;
    height: $mono-box-avater-h;
    text-aligin:center;
    display:block;
    position:relative;
    img {
      position:relative;
      display:block;
      margin: 0 auto;
      width:$mono-box-avater-w;
      height:$mono-box-avater-h;
      border:0px solid parent;
    }
    $mono-price-corner-bg:rgba(200,200,200,0.9);
    .mono-price-corner{
      background:$mono-price-corner-bg;
      padding:2px 10px;
      color:$mono-price-color;
      right:0;
      bottom:0;
      position:absolute;
    }
  }
  
  .mono-info {
    
    text-align: left;
    height:$mono-box-h - $mono-box-avater-h;
    ul {
      padding: 5px;
    }
    ul li {
      padding:5px 0px;
    }
  }
  
  $mono-title-h:100px;
  .mono-title {
    height:$mono-title-h;
    margin-bottom: 30px;
    over-flow:hidden;
    line-height:1.5em;
    height:4.5em;
    overflow: hidden;
  }
  .mono-price {
    color: $mono-price-color;
    font-size:14px;
  }
  .mono-point {
    color: $mono-price-color;
    font-size:14px;
  }
  .mono-rank {
    //border-top: 1px dashed #AAA;
  }
  .mono-rank span{
    font-size:14px;
  }

  .mono-inner-box {
    width: 300px;
    overflow:hidden;
    display:block;
  }
  
  .mono-inner-small {
    width: $mono-sm-w;
    height: $mono-sm-h;
    float:left;
    img {
      width: $mono-sm-w;
      height: $mono-sm-h;
    }
  }
  
  .mono-inner-right {
    width: $mono-lg-w - $mono-sm-w;
    height: $mono-lg-h;
    float:right;
 //   background:#EEEEEE;
  }
  
}


$cart-bg: rgba(220, 220, 220, 0.8);
#cart-foot {
  background: $cart-bg;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height:80px;
  width: 100%;
  z-index:10;
  .price{
    font-size: 24px;
    color: #777;
  }
  .cart-area {
    margin: 20px auto;
    
  }
}


