//@import "compass/css3/transition";


#page-top, html,body {
  padding-top: 50px;
  
}


.cart-title {
  text-align: center;
}

@mixin min-height($val){
  min-height:$val;
  height:auto !important;
  height:$val;
}
.bootstrap-tagsinput {
  width:100%;
  @include min-height(46px);

  text-align:left;
  .label-info {
    height:32px;
  }
  input{
    margin-top:5px;
    height: 100%;
    font-size:18px;
  }
  .label {
    font-size: 100%;
  }
}
.intro-header {
  //padding-top:50px;
  position:relative;
  padding-top:10%;
  padding-bottom: 30%;
  //padding-bottom: 50px;
  text-align: center;
  color: #F8F8F8;
  background: url(../images/intro-bg.jpg) no-repeat scroll center center / cover transparent;
  .intro-search{
    
  }
}

.clear {
  clear:both;
}


#monolist {
  padding-top:50px;
  background:#DDD;
}


.shop-list {
  height: 400px;
}

.storebox {
  height:260px;  
  position: relative;
  text-align: center;
  margin:20px auto;
  .caption {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    overflow:hidden;
    background:#EEE;
  }
  a {
    color: white;
  }
  .preview {
    position:absolute;
    left:0px;
    top: 0px;
    background: #339966;
    height:100%;
    width: 100%;
    overflow: hidden;
    .mono-img {
      padding:20px 10px 0px 45px;
      
      img {
        padding:2px;
        border:1px solid #ddd;
        width: 70px;
        height:70px;
        margin-bottom: 20px;
        display:block;
        margin-right:25px;
        float:left;
        &:hover {
          width:90px;
          height:90px;
          margin-right:5px;
          margin-bottom:0px;
        }
      }
    }
  }
}


$mono-box-avater-w:300px;
$mono-box-avater-h:300px;
$mono-box-w: 300px;
$mono-box-h: 460px;
$mono-box-bg: white;
$mono-price-color: white;
$mono-sm-w: 200px;
$mono-sm-h:200px;
$mono-lg-w:200px;
$mono-lg-h:200px;


.mono-container {
  padding-left: 50px;
  padding-bottom: 100px;
}
.mono-box {
  float:left;
  position: relative;
  text-align: center;
  display: block;
  margin:0px 30px 30px 0px;
  height:$mono-box-h;
  width:$mono-box-w;
  overflow:hidden;
  box-shadow: 0 0 2px 2px #CCC;
  background:$mono-box-bg;
  border:1px solid #DDD;
  padding: 2px;
  $mono-operation-icon-size:32px;
  $mono-operation-left:20px;
  $mono-operation-top:20px;
  //$mono-add-to-list-bg:url(../images/plus_gray.png);
  $mono-add-to-list-bg-hover:url(../images/plus.png);
  a {
    display:block;
    text-decoration: none; 
  }
  a:hover {
  cursor:pointer;
  }
  .cartbtn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .mono-avater {
    position: relative;
    width: $mono-box-avater-w;
    height: $mono-box-avater-h;
    text-aligin:center;
    display:block;
    img {
      
      display:block;
      margin: 0 auto;
      width:$mono-box-avater-w;
      height:$mono-box-avater-h;
      border:0px solid parent;
    }
    $mono-price-corner-bg:rgba(200,200,200,0.9);
    .mono-price-corner{
      background:$mono-price-corner-bg;
      padding:2px 10px;
      color:$mono-price-color;
      right:0;
      bottom:0;
      position:absolute;
    }
  }
  
  .mono-info {
    text-align: left;
    height:$mono-box-h - $mono-box-avater-h;
    ul {
      padding: 5px;
    }
    ul li {
      padding:5px 0px;
    }
  }
  
  $mono-title-h:100px;
  .mono-title {
    height:$mono-title-h;
    margin-bottom: 30px;
    over-flow:hidden;
    line-height:1.5em;
    height:4.5em;
    overflow: hidden;
  }
  .mono-price {
    color: $mono-price-color;
    font-size:14px;
  }
  .mono-point {
    color: $mono-price-color;
    font-size:14px;
  }
  .mono-rank {
    border-top: 1px dashed #AAA;
  }
  .mono-rank span{
    font-size:11px;
  }

  .mono-inner-box {
    width: 300px;
    overflow:hidden;
    display:block;
  }
  
  .mono-inner-small {
    width: $mono-sm-w;
    height: $mono-sm-h;
    float:left;
    img {
      width: $mono-sm-w;
      height: $mono-sm-h;
    }
  }
  
  .mono-inner-right {
    width: $mono-lg-w - $mono-sm-w;
    height: $mono-lg-h;
    float:right;
 //   background:#EEEEEE;
  }
  
}

