%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle(data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
        %span.sr-only RAKUMONO
      %a.navbar-brand(href="#page-top") RAKUMONO
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden.active
        %li.page-scroll 
          %a(href="#") HOME
        %li.page-scroll 
          %a(href="#") APP
        %li.page-scroll 
          %a(href="#") CONTACT
%header.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1
            Rakumono
          %h3
            More shopping, More happy
          %hr.intro-divider
          %div.intro-search
            %form(role="form")
              .col-lg-6.col-lg-offset-2.tagsinput
                %input.form-control.input-lg(type="text"  data-role="tagsinput")
              .col-lg-2
                %button.btn.btn-primary.btn-lg Search


:javascript
  
  $(document).ready(function(){
//  $(".tagsinput").tagsinput();
  });
