
<section id="search-section">
  <div class="container search-container">
    <br />
    <h1>Rakumono</h1>
    <h2>More Shopping, More Happy</h2>
    <br />
    <div class="search-wrapper">
      
      <form class="form-group" action="/" method="POST" accept-charset="utf-8">
	<input type="text" placeholder="Input want you want" class="form-controller input-lg search-bar" name="keyword" />
	<button class="btn-lg btn-primary">Search</button>
	
	<br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br />
	
      </form>
    </div>
  </div>
</section>

