 

      <section id="search-section">
	<div class="container search-container">
	  <br />
	  <h1>Rakumono</h1>
	  <h2>More Shopping, More Happy</h2>
	  <br />
	  <div class="search-wrapper">
	    <form class="form-group">
	      <input type="text" placeholder="Input want you want" class="form-controller input-lg search-bar" />
	      <button class="btn-lg btn-primary">Search</button>
	    </form>
	    <br /><br /><br /><br /><br /><br /><br /><br /><br />
	    <br /><br /><br /><br /><br /><br /><br /><br /><br />
	    <br /><br /><br /><br /><br /><br /><br /><br /><br />
	  </div>
	</div>
      </section>
      <script type="text/javascript">
       var gridster;
       $(function(){
	   gridster = $(".gridster ul").gridster({
	       widget_base_dimensions: [100, 100],
	       widget_margins: [5, 5],
	       helper: 'clone'
	   }).data('gridster');
	   gridster.$el.on('mouseenter', '> li', function(){
	       gridster.resize_widget($(this), 3, 3);
	       $(this).find(".grid-sm").css('display', 'none');
	       $(this).find(".grid-lg").css('display', 'block');
	   }).on('mouseleave', '> li', function(){
	       gridster.resize_widget($(this), 1, 1);
	       $(this).find(".grid-lg").css('display', 'none');
	       $(this).find(".grid-sm").css('display', 'block');
	   });
       });
      </script>
