%header.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1
            Rakumono
          %h3
            More shopping, More happy
          %hr.intro-divider
          %div.intro-search
            %form(role="form" action="/" method="POST")
              .col-lg-6.col-lg-offset-2.tagsinput
                %input.form-control.input-lg(type="text"  data-role="tagsinput" name="keyword")
              .col-lg-2
                %button.btn.btn-primary.btn-lg Search


:javascript
  
  $(document).ready(function(){
//  $(".tagsinput").tagsinput();
  });
