<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>arbor.js</title>
  <meta name="description" content="a graph visualization library using web workers and jQuery">
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Christian Swinehart">
	<script type="text/javascript" src="http://use.typekit.com/mxh7kqd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="/style/site.css" type="text/css" charset="utf-8">
</head>
<body>
  <div id="arbor">
  <div id="nav">
    <a class="back" href="#"></a>
    <p>a graph visualization library using web workers and jQuery</p>
  </div>
  <canvas id="sitemap" width="800" height="400"></canvas>

  <div id="docs">
    <div id="introduction">
    </div>
    
    <div id="reference">
    </div>
  </div>
  
  <div id="footer">Copyright 2011 · <a href="http://samizdat.cc"> Samizdat Drafting Co.</a></div>
</div>  
  <script src="/js/jquery-1.6.1.min.js"></script>
  <script src="/js/jquery.address-1.4.min.js"></script>

  <script src="/js/lib/arbor.js"></script>
  <script src="/js/lib/arbor-tween.js"></script>
  <script src="/js/lib/arbor-graphics.js"></script>

  <script src="site.js"></script>
</body>
</html>
