<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Hiro Gen" >
    <link href="styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="styles/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="styles/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    <link href="vendors/bootstrap/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
    <link href="vendors/bootstrap/css/bootstrap-theme.min.css"  rel="stylesheet" type="text/css" />
    
    <link href="styles/styles.css" rel="stylesheet" type="text/css" />

    <link href="vendors/gridster/jquery.gridster.css" rel="stylesheet" type="text/css">

<!--     <link href="styles/gridster-controller.css" rel="stylesheet" type="text/css" />
-->
    <script type="text/javascript" src="scripts/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="vendors/gridster/jquery.gridster.js" ></script>
    
    <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js" ></script>
  </head>
  <body>

    <div id="page">
      <header class="header">
	<nav class="nav navbar">
	  <div class="container">
	    <a class="nav navbar-nav" href="/"><img src="images/logo.png" /></a>
	    <div class="navbar navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
		<li><a href="/">Search</a></li>
		<li><a href="/">Navigation</a></li>

	      </ul>
	    </div>
	  </div>
	</nav>
      </header>
      <%= yield %>
      <footer>
	Copyright (c) 1997-2014 Rakuten, Inc. All Rights Reserved.
      </footer>
    </div>
  </body>
</html>
