!!! 5
%html(lang="ja")
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %link(rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css" )
    %link(href="/vendors/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet")
    %link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    %link(rel="stylesheet" href="/styles/styles.css")
    %link(rel="stylesheet" href="/vendors/fullpage/jquery.fullPage.css")
    %script(src="/javascripts/jquery-1.11.1.min.js")
    %script(src="/javascripts/angular.min.js")  
    %script(src="/vendors/bootstrap/js/bootstrap.min.js")
    %script(src="/javascripts/scripts.js")

    %script(src="/vendors/bootstrap-tagsinput/bootstrap-tagsinput.min.js")
    %script(src="/vendors/jquery.easings.min.js")
    %script(src="/vendors/jquery.slimscroll.min.js")
    %script(src="/vendors/fullpage/jquery.fullPage.js")
    %title Index
  %body#page-top
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .row
          .col-lg-8
            %button.navbar-toggle(data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button")
            %span.sr-only RAKUMONO
            %a.navbar-brand(href="#page-top") RAKUMONO
          #cart.col-lg-4.bt.open
            %button.btn.btn-block.btn-lg.dropdown-toggle(type="button" data-toggle="dropdown")
              %i.fa.fa-shopping-cart
              %span.hidden-md Cart:
              %span#cart-total 2 items - $340.00
              %i.fa.fa-caret-down
            %ul.dropdown-menu.pull-right
              %li
                %table.table.table-striped.hcart
                  %tbody
                    %tr
                      %td.text-center
                        %a(href="#")
                          %img.img-thumbnail.img-responsive(src="" alt="image" title="image")
                      %td.text-center
                        %a(href="#") Seeds
                      %td.text-right x 1
                      %td.text-right $12065
                      %td.text-center
                        %a(href="#")
                          %i.fa.fa-times
              %li
                %p.text-right.btn-block1
                  %a(href="#") View Cart
                  %a(href="#") Checkout
    = yield
    
