
#monolist.section
  .slide
    .container
      .row
        .col-lg-12
          .title 
            %h1 萬屋    
          .category-list
            %h2.category-title#suiei suiei
            .mono-list
              .mono-box
                .mono-avater
                  %img(src="/images/swimhat.jpg")
                  .mono-price-corner
                    %span.mono-price $1000
                    %span.mono-price &nbsp;&nbsp;|&nbsp;&nbsp;
                    %span.mono-point Point by 10
                .mono-info
                  .mono-title アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】
                  .mono-rank
                    %span 4.5 Rank
                    &nbsp; &nbsp;
                    %span 1432 Comments
                  .mono-tag
                    .badge cheap
                    .badge nice
                    .badge speed
              .mono-box
                .mono-avater
                  %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .clear
          .category-list
            %h2.category-title boshi
            .mono-list.row
              .col-lg-3.col-md-4.col-sm-6
  .slide
    .container
      .row
        .col-lg-12
          %h1 萬屋
          .category-list
            %h2.category-title suiei
            .mono-list.row

:javascript
  $(document).ready(function() {
    $('#fullpage').fullpage();
  });
  


