
- if @monos != nil
  - @monos.each do |mono|
    %input{:type=>"hidden", :name=>"keyword", :value => mono }
#monolist.section
  - if @searchinfo != nil
    - @searchinfo['shops'].each do |shop|
      .slide
        .container
          .row
            .col-lg-12.mono-container
              .title
                %a{:href => shop['shopUrl']}
                  %h1 
                    = shop['shopName']
              .category-list.renderable{:id => shop['shopCode']}
                %img.loading_img(src="/images/loading.gif")
                

#cart-foot
  .cart-area
    .container
      .row
        .col-lg-10.text-right
          %span.price#total-price
            &yen;&nbsp;&nbsp;0
        .col-lg-2.text-left
          %form(action="/rakuten.html" method="get")
            %button.btn.btn-success(type="submit") Purchase All
:javascript
  var url = "item";
  
  //alert($("input[name='keyword']").eq(0).val());
  
  
  $(document).ready(function() {
  function remove_loading(id) {
  $("#" + id + " > .loading_img").remove();
  //alert(id);
  }
  
  function get_shop_mono(k, id, keynum, mono_num) {
  //alert("SB");
  var keyword_dom = $("input[name='keyword']");
  if (keynum >= keyword_dom.length) {
  remove_loading(id);
  renderAnother(k+1);
  return;
  }
  var keyword = keyword_dom.eq(keynum).val();
  $.ajax( {
  url: url,
  type: 'get',
  data: {shopname: id, keyword: keyword, item_num: mono_num},
  dataType: 'json',
  success: function(data) {
  var cate_template = '<h2 class="category-title">{::keyword::}</h2><div class="mono-list"><button class="folder-btn "><i class="fa fa-chevron-down"></i></button>{::monobox::}<div class="clear"></div></div>';
  var mono_template = '<div class="mono-box" code="{::itemCode::}"><button class="cart-btn togglable" toggled="false" price="{::itemPrice::}"><i class="fa fa-shopping-cart"></i></button><a class="mono-avater" href="{::itemUrl::}"><img src="{::imageUrl::}"><div class="mono-price-corner"><span class="mono-price">&yen;&nbsp;{::itemPrice::} </span></div></a><div class="mono-info"><div class="mono-title"><a href="{::itemUrl::}">{::itemName::}</a></div><div class="mono-rank"><span>Rank: {::reviewAverage::}</span>&nbsp; &nbsp;<span>Reviews: {::reviewCount::}</span></div></div></div>';
  //alert(data['item']['itemName']);
  var str = "";
  var items = data['item'];
  //for (var i = 0; i < items.length; i ++) {
  var t = mono_template;
  for (var i = 0; i < items.length; i ++)
  {
  var item = items[i];
  str += t.replace(/{::itemUrl::}/g, item['itemUrl']).replace(/{::itemPrice::}/g, item['itemPrice'])
  .replace(/{::itemPoint::}/g, item['itemPoint']).replace(/{::itemName::}/g, item['itemName'])
  .replace(/{::reviewAverage::}/g, item['reviewAverage']).replace(/{::reviewCount::}/g, item['reviewCount']).replace(/{::imageUrl::}/g, item['imageUrl']);
  
  }
  var result = cate_template.replace(/{::keyword::}/g, keyword).replace(/{::monobox::}/g , str);
  //alert(result);
  $(result).insertBefore($("#" + id + "> .loading_img"));
  //alert(result);
  renderRow(k, id, keynum+1, mono_num);
  }
  });
  
  }

  
  $('#monolist').fullpage( {
  scrollOverflow: true
  });
  
  var totalprice = 0;
  $("#monolist").on('click', '.folder-btn', function(){
  
  });
  $("#monolist").on('click', '.togglable', function(){
  //alert("SB");
  //alert($(this).attr("toggled"));
  function refreshTotalPrice() {
  $("#total-price").html("&yen;&nbsp;&nbsp;" + totalprice);
  }
  if ($(this).attr("toggled") == "false") {
  $(this).attr("toggled" ,"true");
  $(this).addClass("cart-selected");
  totalprice += parseInt($(this).attr("price"));
  refreshTotalPrice();
  } else {
  $(this).attr("toggled" , "false");
  $(this).removeClass("cart-selected");
  totalprice -= parseInt($(this).attr("price"));
  refreshTotalPrice();
  }
  });
  
  function renderRow(k, id, keynum, mono_count) {
  
  get_shop_mono(k, id, keynum, mono_count);
  
  }
  function renderAnother(k) {
  if (k < $('.renderable').length) {
  //alert(k);
  var dom = $('.renderable').eq(k);
  var id = dom.attr('id');
  var count = 0;
  renderRow(k, id, 0, 10);
  //var key_total = $("input[name='keyword']").length;
  
  }
  }
  var index = 0;
  renderAnother(0);
  /*
  $('.renderable').each(function() {
  if (index ++ < 3) {
  var id = $(this).attr('id');
  var count = 0;
  var key_total = $("input[name='keyword']").length;
  $("input[name='keyword']").each(function (){
  //alert($(this).val());
  if (++count <  key_total) {
  get_shop_mono(id, $(this).val(), 10, false);
  } else {
  get_shop_mono(id, $(this).val(), 10, true);
  }
  });
  
  }
  });
  */
  });
  
