
#monolist.section
  .slide
    .container
      .row
        .col-lg-12
          .title 
            %h1 萬屋    
          .category-list
            %h2.category-title#suiei suiei
            .mono-list
              .mono-box
                %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .mono-box
                %img(src="")
                test
              .clear
          .category-list
            %h2.category-title boshi
            .mono-list.row
              .col-lg-3.col-md-4.col-sm-6
  .slide
    .container
      .row
        .col-lg-12
          %h1 萬屋
          .category-list
            %h2.category-title suiei
            .mono-list.row

:javascript
  $(document).ready(function() {
    $('#fullpage').fullpage();
  });
  


