
- if @monos != nil
  - @monos.each do |mono|
    %input{:type=>"hidden", :name=>"keyword", :value => mono }
#monolist.section
  - if @searchinfo != nil
    - @searchinfo['shops'].each do |shop|
      .slide
        .container
          .row
            .col-lg-12.mono-container
              .title
                %a{:href => shop['shopUrl']}
                  %h1 
                    = shop['shopName']
              .category-list.renderable{:id => shop['shopCode']}
                %img.loading_img(src="/images/loading.gif")
                

#cart-foot
  .cart-area
    .container
      .row
        .col-lg-10.text-right
          %span.price#total-price
            &yen;&nbsp;&nbsp;0
        .col-lg-2.text-left
          %form(action="/rakuten.html" method="get")
            %button.btn.btn-success(type="submit") Purchase All
:javascript
  
  //alert($("input[name='keyword']").eq(0).val());
  
  
