.search-section
  .container
    .row
      .col-lg-6.col-sm-12.storebox
        .storebox
          %a.storelink(href="#")
            .caption
              .caption-content
                %i.fa.fa-search-plus
            .preview 
              %h3 Yorotsuya
      .col-lg-6.col-sm-12.storebox
        .storebox
          %a.storelink(href="#")
            .caption
              .caption-content
                %i.fa.fa-search-plus
            .preview
              %h3 Shinsengumi             
      .col-lg-6.col-sm-12.storebox
        .storebox
          %a.storelink(href="#")
            .caption
              .caption-content
                %i.fa.fa-search-plus
            .preview
              %h3 Jyoisisi
 
                
