.search-section
  .container
    .row
      .col-sm-4
        .storebox
          %a.storelink(href="#")
            .caption
              .caption-content
                %i.fa.fa-search-plus
            .preview 
              %h3 Yorotsuya
              .mono-img
                %img.image-responsive(src="images/golf1.jpg" alt="golf1" )
                %img.image-responsive(src="images/golf2.jpg" alt="golf2" )
               
      .col-lg-4
        .storebox
          %a.storelink(href="#")
            .caption
              .caption-content
                %i.fa.fa-search-plus
            .preview
              %h3 Shinsengumi
              .mono-img
                %img.image-responsive(src="images/golf1.jpg" alt="golf1" )
                %img.image-responsive(src="images/golf2.jpg" alt="golf2" )
                %img.image-responsive(src="images/golf3.jpg" alt="golf3" )
                %img.image-responsive(src="images/golf4.jpg" alt="golf4" )
               
      .col-lg-4
        .storebox
          %a.storelink(href="#")
            .caption
              .caption-content
                %i.fa.fa-search-plus
            .preview
              %h3 Jyoisisi
              .mono-img
                %img.image-responsive.img-circle(src="images/golf1.jpg" alt="golf1" )
                %img.image-responsive.img-circle(src="images/golf2.jpg" alt="golf2" )
                %img.image-responsive.img-circle(src="images/golf3.jpg" alt="golf3" )
                %img.image-responsive.img-circle(src="images/golf4.jpg" alt="golf4" )
                %img.image-responsive.img-circle(src="images/golf5.jpg" alt="golf5" )
                %img.image-responsive.img-circle(src="images/golf1.jpg" alt="golf1" )
               
