.search-section
  .container
    .row
      .col-lg-4.storebox
        %a.storelink
          %h3 Yorotsuya
          .preview
            %img.store-mono-preview.img-circle.image-responsive(src="" alt="yorotsuya")
            
      .col-lg-4.storebox
        %a.storelink
          %h3 Shinsengumi
          .preview
            %img.store-mono-preview.img-circle.image-responsive(src="" alt="shinsengumi")
      .col-lg-4.storebox
        %a.storelink
          %h3 Jyoisisi
          .preview
            %img.store-mono-preview.img-circle.image-responsive(src="" alt="Jyoisisi")
