<br />
<br />
<br />

<div class="container mono-cate-container">
  
  <div class="mono-cate-row">
    
  <% monoindex = 0 %>
  <% data.each do |genre, items| %>
    
    <div class="clearfix overlay-effects effects mono-cate-box" id="<%= genre %>">
     
	
	  <a href="#"><h5><%= genre %></h5></a>
		
    </div>
   
  <% end %>
  <div class="clear"></div>
      
  </div>
  <div class="mono-cate-wrapper">
  
    <div class="mono-box">
      <div class="mono-avater">
	<img src="images/swimhat.jpg" />
	<div class="mono-price-corner">
	  <span class="mono-price">$1000</span><span class="mono-price">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="mono-point">Point by 10</span>
	</div>
	<div class="mono-operation" ><a class="mono-add-to-list btn btn-error">favorite</a></div>
      </div>
      <div class="mono-info">
	
	  <div class="mono-title">アリーナ【arena】メッシュ キャップ ARN-13 水泳 スイミング プール 競泳 トレーニング メッシュ キャップ 帽子 水泳帽 【メンズ】【レディース】【FINA承認モデル】</div>
	  
	  <div class="mono-rank"><span>4.5 Rank</span>&nbsp;&nbsp;<span>1432 Comments</span></div>
	  <div><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></div>
	</ul>
      </div>
    </div>

    <div class="clear"></div>
  </div>

</div>


<div class="gridster draggable" id="cart-list">
  <br />
  <ul></ul>
</div>



<script type="text/javascript">
var template = '<div class="mono-box"> <div class="mono-avater"><img src="{imageurl}" /><div class="mono-operation" ><a class="mono-add-to-list btn-sm btn-danger">favorite</a></div><div class="mono-price-corner">  <span class="mono-price">&nbsp;&nbsp; {price} Yen</span><span class="mono-price">&nbsp;&nbsp;|&nbsp;&nbsp;</span><span class="mono-point">Point by {pointrate}&nbsp;&nbsp;</span></div> </div><div class="mono-info"><div class="mono-title"><a href="{itemUrl}">{title}</a></div> <div class="mono-rank"><span>Review:{reviewAverage}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>{reviewcount} Comments</span></div> <div><span class="badge">cheap</span>&nbsp;<span class="badge">nice</span>&nbsp;<span class="badge">speed</span></div></div></div>';


 $(function(){
 
 });


 $(document).ready(function(){
     var dragging = null;
     function render(container, id, color) {
	 
	 var arr = data[id];
	 var p;
	 var str = ''
	 
	 for (var i = 0; i < arr.length; i ++){
	     p = template;
	     str += p.replace('{title}',arr[i]['itemName']).replace('{price}', arr[i]['itemPrice']).replace('{imageurl}', arr[i]['imageUrl']).replace('{pointrate}', arr[i]['pointRate'])
		     .replace('{reviewcount}', arr[i]['reviewCount']).replace('{reviewAverage}', arr[i]['reviewAverage']).replace('{itemUrl}', arr[i]['itemUrl']);
	     //	alert(str);
	 }
	 str += '<div class="clear"></div>';
	 container.html(str);
	// container.css("background-color", color);
	 add_widgetable();
     }
     
     function drag() {
	 if (dragging) {
	     $(document.body).on("mousemove", function(e){
		 dragging.offset({
		     top: e.pageY,
		     left: e.pageX
		 });
	     }).on("mouseup", function(e){
		 dragging = null;
	     });
	 }
     }
     function add_to_cart(dom, cartlist){
	 //alert("SB");
	 cartlist.add_widget(dom,1 , 1, 1, 1);
     }
     
     function add_widgetable() {
	 $(".mono-add-to-list").on("click", function(){
	//     alert("SB");
	     add_to_cart( $(this).parent().parent().parent().html() , cartlist);
	 });
     }
     
     var cartlist = $("#cart-list ul").gridster({
	 widget_base_dimensions: [100, 55],
	 widget_margins: [5, 5],
//	 resize.enabled: true
     }).data('gridster');

     $(".mono-cate-box").click(function(){
	 if ($(this).is( current_cate)) {
	     
	 //    $(".mono-cate-wrapper").hide();
	//     current_cate.removeClass('mono-box-active');
	//     current_cate = null;
	 } else {
	     if (current_cate != null){
		 current_cate.removeClass('mono-box-active');
	     }
	     
	     $(".mono-cate-wrapper").hide();
	     current_cate = $(this);
	     render($(".mono-cate-wrapper"), $(this).attr("id"), $(this).css("background-color"));
	     current_cate.addClass('mono-box-active');
	     items = data[current_cate.attr('id')]
	     console.log(items)
	     current_cate.parent().after($(".mono-cate-wrapper"));
	     $(".mono-cate-wrapper").fadeIn('slow');
	 }
     });

     $("#cart-list").on("mousedown", function(e) {
	 dragging = $(e.target);
	 drag();
//	 add_to_cart(cartlist);
     }).on("mouseup", function(e){
	 //	dragging = null;
     }).on("mouseleave", function(e){
	 //	dragging = null;
     });

     $(".mono-cate-box").each(function (index){
	 $(this).css("background-color", colors[index]);
     });
 });



var colors = ['#B9D1FF', '#D696FF', '#85A895', '#D2E0A6', '#FFBFE5', '#F51D90', '#FF8ED5', '#FFB326', '#BD6D1D'];

var data = <%= data.to_json %>;
var current_cate = null;
</script>
