<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='' name='description'>
    <meta content='Gen' name='author'>
    <link href='vendors/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <link href='styles/styles.css' rel='stylesheet'>
    <title>Index</title>
  </head>
  <body>
    <div id='page'></div>
    <script src='javascripts/jquery-1.11.1.min.js'></script>
    <script src='javascripts/angular.min.js'></script>
    <script src='vendors/bootstrap/js/bootstrap.min.js'></script>
    <script src='javascripts/scripts.js'></script>
  </body>
</html>
