!!! 5
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    %meta(name="description" content="")
    %meta(name="author" content="Gen")

    %link(rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css" )
    %link(rel="stylesheet" href="styles/styles.css")
    %title Index
  %body
    #page
      
    %script(src="javascripts/jquery-1.11.1.min.js")
    %script(src="javascripts/angular.min.js")  
    %script(src="vendors/bootstrap/js/bootstrap.min.js")
    %script(src="javascripts/scripts.js")
