!!! 5

%html{:ng-app => "todoApp"}
  %head
    %title test angular
    %script{:src => 'scripts/angular.min.js', :type => 'text/javascript'}
    %script var todoApp = angular.module("todoApp", []);
  %body
    %header
    %section
      %a {{"AngularJS"}}
    %footer
