!!! 5

%html{:lang=>"ja"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => 'author', :content => 'Hiro Gen'}
    %link{:href => 'styles/screen.css', :media => 'screen, projection', :rel =>'stylesheet' , :type => 'text/css' }
    %link{:href => 'styles/print.css', :media => 'prnit', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'styles/ie.css', :media => 'screen, projection', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'vendors/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'styles/styles.css', :rel => 'stylesheet' , :type => 'text/css'}
    %script(type="text/javascript" src="scripts/jquery-1.11.1.min.js" )
    %script(type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js")
  %body
    #page
      %header.header
        %nav.nav.navbar
          .container
            %a.nav.navbar-nav(href="/")
              %img(src="images/logo.png")
            .navbar.navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a(href="/") Search
                  %a(href="/") Navigation
      #yield
        =yield
      %footer Copyright (c) 1997-2014 Rakuten, Inc. All Rights Reserved.



