.top-star img {width:150px; height:150px;}

.star-box {}
.star-box {text-align:center;}
.star-nick {margin-top:15px;}
.clear{clear:both;}

.card-hd {width:300px; height:300px; position:relative; overflow:hidden;}
.commodity-price {position:absolute; bottom:5px; right:5px;}
.cardlist {list-style:none; clear:both}
.cardlist li {height:450px;}

/*.cardlist  {float:left; margin-bottom:20px; height:450px; width:300px; background:MintCream; position:relative;}
.carditem-mid {margin-left:40px; margin-right:40px;}*/
.card-title, .publisher-box, .card-info {padding-left:20px;}

.card-relation {position:absolute; bottom:10px; left:50%;}