  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-sm-3">
	<ul class="list-group">
	  <li class="list-group-item"><a href="#">Woman's dress</a></li>
	  <li class="list-group-item"><a href="#">Woman's shoes</a></li>
	  <li class="list-group-item"><a href="#">Man's dress</a></li>
	  <li class="list-group-item"><a href="#">Man's shoes</a></li>
	  <li class="list-group-item"><a href="#">Bag</a></li>
	  <li class="list-group-item"><a href="#">Food</a></li>
	  <li class="list-group-item"><a href="#">Laptop</a></li>
	  <li class="list-group-item"><a href="#">Outdoor</a></li>
	  <li class="list-group-item"><a href="#">Gift</a></li>
	</ul>
      </div>
      <div class="col-sm-9 ">
	<div class="jumbotron top-star row " >
	  <h4>Who is the star:</h4>
	  <div class="col-sm-4 star-box">
	    <a href="#">
	      <img src="/assets/okida.jpeg" width="100px" height="150px" alt="okida" class="img-circle" >
	      <div class="star-nick">Okida Sogou</div>
	    </a>
	    <div class="star-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Follow</a>&nbsp;|&nbsp;<a href="#">777 Followers</a></div>
	  </div>
	  <div class="col-sm-4 star-box">
	    <a href="#">
	      <img src="/assets/keroro.jpg" width="100px" height="150px" alt="keroro" class="img-circle">
	      <div class="star-nick">Keroro Gunso</div>
	    </a>
	    <div class="star-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Follow</a>&nbsp;|&nbsp;<a href="#">1231 Followers</a></div>
	  </div>
	  <div class="col-sm-4 star-box">
	    <a href="#">
	      <img src="/assets/erizabesu.jpeg" width="100px" height="150px" alt="erizabesu" class="img-circle">
	      <div class="star-nick">Erizabesu</div>
	    </a>
	    <div class="star-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Follow</a>&nbsp;|&nbsp;<a href="#">578 Followers</a></div>
	  </div>
	  <div class="clear"></div>
	</div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="cardlist row">
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="/assets/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="/assets/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="/assets/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="/assets/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="/assets/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="/assets/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="/assets/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="/assets/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="/assets/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="/assets/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>
      <li class="carditem col-sm-4">
	<div class="card-hd">
	  <a target="_blank" href="#">
	    <img src="/assets/item2.jpg" width="300px" height="300px" class="img-thumbnail">
	  </a>
	  <span class="commodity-price">$79</span>
	</div>
	<div class="card-bd">
	  <h3 class="card-title" title="Okida's Megane">Okida's megane</h3>
	  <br />
	  <div class="publisher-box"><img src="/assets/katura.png" width="30px" height="30px" class="img-circle">&nbsp;<a href="#">katura</a> published</div>
	  <div class="card-relation"><i class="glyphicon glyphicon-heart"></i>&nbsp;<a href="#">Like</a>&nbsp;|&nbsp;<a href="#">578 Liked</a></div>
	</div>
      </li>

    </ul>
  </div>
