.gridster li {
  background: #AAAAAA; }
.gridster .grid-sm {
  display: block; }
.gridster .grid-lg {
  display: none; }

.subject-gridster .grid-avater {
  width: 200px;
  height: 200px; }

.mono-box {
  width: 150px;
  overflow: hidden; }
  .mono-box .mono-inner-box {
    width: 300px;
    overflow: hidden;
    display: block; }
  .mono-box .mono-inner-small {
    width: 150px;
    height: 150px;
    float: left; }
    .mono-box .mono-inner-small img {
      width: 150px;
      height: 150px; }
  .mono-box .mono-inner-right {
    width: 150px;
    height: 300px;
    float: right; }
  .mono-box .mono-price {
    color: red; }
