body {
  padding-top: 50px; }

.bootstrap-tagsinput {
  width: 100%;
  min-height: 46px;
  height: auto !important;
  height: 46px;
  text-align: left; }
  .bootstrap-tagsinput .label-info {
    height: 32px; }
  .bootstrap-tagsinput input {
    margin-top: 5px;
    height: 100%;
    font-size: 18px; }
  .bootstrap-tagsinput .label {
    font-size: 100%; }

.intro-header {
  position: relative;
  padding-top: 10%;
  padding-bottom: 30%;
  text-align: center;
  color: #F8F8F8;
  background: url(../images/intro-bg.jpg) no-repeat scroll center center/cover transparent; }

.clear {
  clear: both; }

#monolist {
  padding-top: 50px; }

#monolist {
  background: #DDD; }

.shop-list {
  height: 400px; }

.storebox {
  height: 260px;
  position: relative;
  text-align: center;
  margin: 20px auto; }
  .storebox .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: #EEE; }
  .storebox a {
    color: white; }
  .storebox .preview {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #339966;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .storebox .preview .mono-img {
      padding: 20px 10px 0px 45px; }
      .storebox .preview .mono-img img {
        padding: 2px;
        border: 1px solid #ddd;
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
        display: block;
        margin-right: 25px;
        float: left; }
        .storebox .preview .mono-img img:hover {
          width: 90px;
          height: 90px;
          margin-right: 5px;
          margin-bottom: 0px; }

.mono-box {
  float: left;
  text-align: center;
  display: block;
  margin: 0px 30px 30px 30px;
  height: 360px;
  width: 220px;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #CCC;
  background: white;
  border: 1px solid #CCC;
  padding: 2px; }
  .mono-box .mono-avater {
    position: relative;
    width: 200px;
    height: 200px;
    text-aligin: center; }
    .mono-box .mono-avater img {
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 200px; }
    .mono-box .mono-avater .mono-price-corner {
      background: rgba(100, 100, 100, 0.9);
      color: red;
      right: 0;
      bottom: 0;
      position: absolute; }
    .mono-box .mono-avater:hover .mono-operation {
      display: block; }
    .mono-box .mono-avater .mono-operation {
      position: absolute;
      left: 20px;
      top: 20px;
      display: none; }
      .mono-box .mono-avater .mono-operation a {
        display: block;
        text-decoration: none; }
      .mono-box .mono-avater .mono-operation a:hover {
        cursor: pointer; }
  .mono-box .mono-info {
    text-align: left;
    height: 160px; }
    .mono-box .mono-info ul {
      padding: 5px; }
    .mono-box .mono-info ul li {
      padding: 5px 0px; }
  .mono-box .mono-title {
    height: 100px;
    margin-bottom: 30px;
    over-flow: hidden;
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden; }
  .mono-box .mono-price {
    color: red;
    font-size: 14px; }
  .mono-box .mono-point {
    color: red;
    font-size: 14px; }
  .mono-box .mono-rank {
    border-top: 1px dashed #AAA; }
  .mono-box .mono-rank span {
    font-size: 11px; }
  .mono-box .mono-inner-box {
    width: 300px;
    overflow: hidden;
    display: block; }
  .mono-box .mono-inner-small {
    width: 200px;
    height: 200px;
    float: left; }
    .mono-box .mono-inner-small img {
      width: 200px;
      height: 200px; }
  .mono-box .mono-inner-right {
    width: 0px;
    height: 200px;
    float: right; }

/*# sourceMappingURL=styles.css.map */
