  <div class="container list-category" style="margin-top:20px;">
    <div class="list-header list-life ">
      <div class="list-header-title"><a href="#">Life</a></div>
      <div class="list-header-right"><a href="#">more</a></div>
      
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col-sm-4">
	<div class="list-group pick-list">
	  <a class="list-group-item row" href="#">
	    <div class="col-sm-8">
	      <h5>osara</h5>
	      <div>73 things, 106 followers</div>
	    </div>
	    <div class="col-sm-4">
	      <img src="/assets/life1.jpg" height="100px" width="100px" >
	    </div>
	  </a>
	  <a class="list-group-item row" href="#">
	    <div class="col-sm-8">
	      <h5>mouse</h5>
	      <div>39 things, 123 followers</div>
	    </div>
	    <div class="col-sm-4">
	      <img src="/assets/life2.jpg" height="100px" width="100px">
	    </div>
	  </a>
	  <a class="list-group-item row" href="#">
	    <div class="col-sm-8">
	      <h5>ocha</h5>
	      <div>45 things, 53 followers</div>
	    </div>
	    <div class="col-sm-4">
	      <img src="/assets/life3.jpg" height="100px" width="100px">
	    </div>
	  </a>
	</div>
      </div>
      <div class="col-sm-4 promotion-big">
	<div>
	  <img src="/assets/promotion.jpg" width="100%" height="100%" >
	</div>
      </div>
      <div class="col-sm-4 rank-list">
	<div class="list-group">
	  <a class="list-group-item row">
	    <div class="col-sm-2">
	      01
	    </div>
	    <div class="col-sm-8">
	      <div >make money</div>
	      <div class="">100 things, 108 followers</div>
	    </div>
	    <div class="col-sm-2">
	      <img src="/assets/life-right1.jpg">
	    </div>
	  </a>
	  <a class="list-group-item row">
	    <div class="col-sm-2">
	      01
	    </div>
	    <div class="col-sm-8">
	      <div>make money</div>
	      <div >100 </div>
	    </div>
	    <div class="col-sm-2">
	      <img src="/assets/life-right1.jpg">
	    </div>
	  </a>
	  <a class="list-group-item row">
	    <div class="col-sm-2">
	      01
	    </div>
	    <div class="col-sm-8">
	      make money
	    </div>
	    <div class="col-sm-2">
	      <img src="/assets/life-right1.jpg">
	    </div>
	  </a>
	  <a class="list-group-item row">
	    <div class="col-sm-2">
	      01
	    </div>
	    <div class="col-sm-8">
	      make money
	    </div>
	    <div class="col-sm-2">
	      <img src="/assets/life-right1.jpg">
	    </div>
	  </a>
	  <a class="list-group-item row">
	    <div class="col-sm-2">
	      01
	    </div>
	    <div class="col-sm-8">
	      make money
	    </div>
	    <div class="col-sm-2">
	      <img src="/assets/life-right1.jpg">
	    </div>
	  </a>
	  
	</div>
      </div>
    </div>
  </div>
